<% provide(:title, 'Focus | Home') %>
<div class="span5" >
  <img src="/assets/1.jpg" class="img-rounded" >
</div>
<div class="span4 offset2">
  <%= render 'sessions/signin_form' %>
  <%= render 'users/signup_form' %>
</div>