<% provide(:title, 'Focus | Home') %>

<div class="span3 offset7">
  <%= render 'sessions/signin_form' %>
  <br><br>
</div>

<div class="span3 offset7">
  <%= render 'users/signup_form' %>
</div>