<% provide(:title, 'Focus | Home') %>
<div class="span6" >
  <img src="/assets/1.jpg" class="img-rounded" >
</div>
<div class="span3 offset2">
  <br>
  <%= render 'sessions/signin_form' %>
  <%= render 'users/signup_form' %>
</div>