<% provide(:title, 'Sign up') %>

<div class="span3 offset7">
  <%= render 'users/signup_form' %>
  <br><br>
  <p class="pull-right">Already have an account? <%= link_to "Sign in", signin_path %></p>
</div>