<header class="navbar">
  	<div class="navbar-inner">
  	  <%= link_to "Focus", root_path, class: "brand", id: "logo" %>
	  <nav>
    	<ul class="nav pull-right">
    	  <% if signed_in? %>
    	    <li>
    	      <li><%= link_to current_user.email, root_path %></li>
	  	      <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	  	    </li>
	  	  <% else %>
	  	    
	  	  <% end %>
	    </ul>
	  </nav>
	</div>
</header>